body {
    font-family: sans-serif;
    padding: 20px 60px;
}

.board-row {
    display: flex;
}

.square {
    background-color: transparent;
    font-size: 50px;
    border: .5px solid #000;
    font-weight: bold;
    width: 100px;
    height: 100px;
}

.square:hover {
    cursor: pointer;
}